.data {
    border: medium none;
    margin: 7px 0 20px;
    width: auto;
    font-size: 11px;
}

.data tr.firstr, .data tr.firstr:hover {
    background: transparent none repeat scroll 0 0;
}

.hover-bottom {
    border: transparent;
    border-bottom: 1px solid #008F0D;
    background: transparent;
}

.hover-bottom:focus {
    outline: none;
    border-bottom: 1px solid #00C000;
}

.big-search {
    height: 40px;
    line-height: 40px;
    font-size: 30px;
    text-align: center;
    width: 100%;
    max-width: 800px;
}

.years ul {
    padding: 0;
}

.years ul a {
    text-decoration: none;
}

.years ul li {
    list-style: none;
    display: inline-block;
    font-size: 25px;
    padding: 2px 5px;
    border: 1px solid #008F0D;
    border-radius: 1px;
}

.data tr.odd:hover, .data tr.even:hover, .odd {
    background: #F4F1E7 none repeat scroll 0 0;
}

.yify-green span, .yify-green a {
    color: #57C328;
}